body{
    margin:0;
  }
.input{
    background-color: black;
    text-align: center;
}
  .inputText{
      resize: none;
    margin: 0 auto;
    width: 90%;
    font-size: 18px;
}
.inputPic{
    cursor: pointer;
    padding: 5px;
    background-color: royalblue;
    margin: 0 auto;
}
section{
  height:600px;
  width: 100%;
  padding: 50px 0;
  background:#000;
}
  p{
    margin:0 auto;
    /* position:absolute; */
    top:0;
    left:0;
    font:" times new roman";
    letter-spacing:-1px;
    line-height:0.6em;
    /* background-color: red; */
    display: block;
    /* font-size:20px; */
    width: 400px;
    height: 600px;
    word-break: break-all;
    text-align: center;
    overflow:hidden;
    /* background: url('./canim.jpg') 100% 100% no-repeat; */
}
.build{
    -webkit-background-clip:text !important;
    color:transparent !important;
    filter:contrast(1) !important;
    background-position:center !important;
    text-align:justify !important;
  }
.go{
    cursor: pointer;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
}
.go:hover{
    background-color: green;
}
  .rangNum{
      color: white;
  }
@media(max-width:400px){
    p{
        width:95% ;
    }
}