body {
  margin: 0;
  background-color: black;
}
main {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

}
.inputSection {
  position: relative;
  text-align: center;
  padding: 5px;
}
.choose {
  display: flex;
  padding: 5px;
  justify-content:space-between;
  align-items:center;
}
.go {
  cursor: pointer;
  background-color: lightgreen;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
}
.go:hover {
  font-size: larger;
}
.inputPic {
  width: 180px;
  cursor: pointer;
  padding: 5px;
  background-color: royalblue;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
}
.range {
  width: 100%;
  background: red;
  height: 50pxs;
  /* color: red; */
  /* margin: 20px 0; */
}
.rangNum {
  color: white;
}
.inputText {
  resize: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  height: 20px;
  transition: 1s;
}
.inputText:focus {
  box-shadow: 2px 2px 2px blue;
  border: none;
  padding: 10px;
  height: 200px !important;
}
section {
  width: 100%;
  padding: 5px 0;
  background: #000;
}
.output {
  margin: 0 auto;
  font: " times new roman";
  letter-spacing: -1px;
  line-height: 0.6em;
  /* display: block; */
  width: 500px;
  height: 500px;
  word-break: break-all;
  text-align: center;
  overflow: hidden;
  background-position: center !important;
}
.build {
  background-size: contain cover !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  filter: contrast(1) !important;
  text-align: justify !important;
}
.go:hover {
  background-color: green;
}

.footer {
  background-color: black;
  margin: 0 auto;
  border-top: 1px white solid;
  text-align: center;
}
a {
  font-size: 50px;
  text-decoration: none;
}
i {
  /* background-color: rgb(71, 71, 192); */
  color: rgb(71, 71, 192);
  margin: 10px;
}
.visits,
.copyRight {
  color: white;
  background-color: black;
  display: block;
}
#followMe {
  color: white !important;
  background-color: black;
  font-size: larger;
}
.download-btn{
    border:none;
    margin:10px auto;
    display:block;
    cursor: pointer;
    background:green;
}